 <!-- Bootstrap core JavaScript-->


   <script src="{{ url_for('static', filename='assets/js/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static', filename='assets/js/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static', filename='assets/js/sb-admin-2.min.js') }}"></script>

    <!-- Notifications system -->
    <script src="{{ url_for('static', filename='assets/js/notifications.js') }}"></script>

    <!-- Page level plugins -->
    <script src="{{ url_for('static', filename='assets/js/vendor/chart.js/Chart.min.js') }}"></script>


</body>

</html>

<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>SuperviseMe - 2025</span>
    </div>
  </div>
</footer>