{% include 'admin/components/header.html' %}

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {% include 'student/components/sidebar.html' %}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                {% include 'admin/components/topbar.html' %}
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">My Thesis</h1>
                    </div>

                    <!-- No Thesis Message -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-warning">No Thesis Assigned</h6>
                                </div>
                                <div class="card-body text-center">
                                    <i class="fas fa-exclamation-triangle fa-5x text-warning mb-4"></i>
                                    <h4>You don't have a thesis assigned yet</h4>
                                    <p class="text-gray-600 mb-4">Please contact your supervisor or administrator to get assigned to a thesis project.</p>
                                    <p class="text-gray-500">Once a thesis is assigned to you, you'll be able to:</p>
                                    <ul class="list-unstyled text-gray-600">
                                        <li><i class="fas fa-check text-success"></i> Add progress updates</li>
                                        <li><i class="fas fa-check text-success"></i> Upload and manage resources</li>
                                        <li><i class="fas fa-check text-success"></i> Communicate with your supervisor</li>
                                        <li><i class="fas fa-check text-success"></i> Track your thesis progress</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            {% include 'admin/components/footer.html' %}
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    {% include 'admin/components/logout_modal.html' %}


</body>

</html>